### Step 1: Initialize a Spark Session

In [14]:
sparkR.session()

Java ref type org.apache.spark.sql.SparkSession id 1

### Step 2: Read data into a R Dataframe

In [15]:
data <- read.csv(url("https://raw.githubusercontent.com/curran/data/gh-pages/Rdatasets/csv/COUNT/azpro.csv"))
df <- as.DataFrame(data)

### Step 3A: Schema of the Dataset

In [16]:
printSchema(df)

root
 |-- X: integer (nullable = true)
 |-- los: integer (nullable = true)
 |-- procedure: integer (nullable = true)
 |-- sex: integer (nullable = true)
 |-- age75: integer (nullable = true)
 |-- admit: integer (nullable = true)
 |-- hospital: double (nullable = true)

### Step 3B: Sample of the Dataset

In [17]:
showDF(df)

+---+---+---------+---+-----+-----+----------------+
|  X|los|procedure|sex|age75|admit|        hospital|
+---+---+---------+---+-----+-----+----------------+
|  1| 67|        1|  0|    0|    1|3.60000014305115|
|  2| 53|        0|  0|    0|    1|6.70000028610229|
|  3| 51|        1|  0|    0|    0|             2.5|
|  4| 30|        0|  0|    0|    1|             6.5|
|  5| 43|        1|  0|    0|    0|3.70000004768372|
|  6| 43|        1|  0|    0|    0|4.30000019073486|
|  7| 32|        0|  0|    0|    1|             6.5|
|  8| 47|        1|  0|    1|    1|5.19999980926514|
|  9| 50|        1|  0|    1|    1|3.70000004768372|
| 10| 37|        1|  0|    0|    1|4.30000019073486|
| 11| 32|        1|  0|    0|    0|3.60000014305115|
| 12| 42|        1|  0|    1|    1|5.19999980926514|
| 13| 33|        1|  0|    0|    1|6.80000019073486|
| 14| 28|        0|  0|    1|    1|2.40000009536743|
| 15| 50|        1|  0|    1|    1|3.09999990463257|
| 16| 17|        0|  0|    0|    1|             2.5|
| 17| 22|        0|  0|    0|    1|3.09999990463257|
| 18| 30|        1|  0|    0|    1|3.70000004768372|
| 19| 30|        1|  0|    0|    0|             6.0|
| 20| 25|        0|  0|    0|    1|6.80000019073486|
+---+---+---------+---+-----+-----+----------------+
only showing top 20 rows

### Step 4: Exploration-Count Total Records

In [18]:
count(df)

[1] 3589